<div *ngIf="DOMready == false" class="spinner-grow loading" role="status"></div>
<div *ngIf="DOMready" class="m-5">
    <div>
        <div>
            <h1 class="title">Mantenimiento de Calificaciones</h1>
            <div class="row mt-4 mb-4">
                <div class="col-md-5 form-group">
                    <app-upload-file-calificacion (refreshPage)="refreshPageMode($event)"></app-upload-file-calificacion>
                </div>
            </div>
        </div>
        <div>
            <div>
                <app-calificaciones-table [calificacionesPage]="calificacionesTabla"></app-calificaciones-table>
                <div class="msjEmpty" *ngIf="existenRegistros == false">- No se encontraron resultados -</div>
            </div>
        </div>
    </div>
</div>