<div *ngIf="DOMready == false" class="spinner-grow loading" role="status"></div>
<div *ngIf="DOMready" class="m-5">
    <div>
        <h1>Registrar Matricula</h1>
    </div>
    <form #registerForm="ngForm">
        <div class="form-group mt-4">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Matricula</mat-label>
                <input matInput type="date" name="fecha_matricula" [(ngModel)]="matricula.fecha_matricula" [formControl]="fecha_matricula" required>
                <mat-error *ngIf="fecha_matricula.invalid">{{getErrorMessageInput()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row ml-1">
            <div class="form-group select">
                <p>Seleccionar estudiante</p>
                <mat-selection-list role="listbox" [multiple]="true" [(ngModel)]="selectedStudentOptions"
                    [ngModelOptions]="{standalone: true}" [formControl]="estudiante_selected" required>
                    <mat-list-option *ngFor="let usuario of usuarios" role="option" [value]="usuario">
                        {{usuario.nombre}}
                    </mat-list-option>
                </mat-selection-list>
                <mat-error *ngIf="estudiante_selected.invalid">{{getErrorMessageStudents()}}</mat-error>
            </div>
            <div class="form-group select">
                <p>Seleccionar sección</p>
                <mat-selection-list role="listbox" [multiple]="false" [(ngModel)]="selectedSectionOptions"
                    [ngModelOptions]="{standalone: true}" [formControl]="seccion_selected" required>
                    <mat-list-option *ngFor="let seccion of secciones" role="option" [value]="seccion">
                        {{seccion.seccion}}
                    </mat-list-option>
                </mat-selection-list>
                <mat-error *ngIf="seccion_selected.invalid">{{getErrorMessageSeccion()}}</mat-error>
            </div>
        </div>
        <div class="form-group options">
            <button mat-stroked-button type="submit" class="btn" (click)="onclick()">Guardar <mat-icon>check
                </mat-icon></button>
            <button mat-stroked-button type="button" class="btn cancel" (click)="cancel()">Cancelar <mat-icon>close
                </mat-icon></button>
        </div>
    </form>
</div>