<div class="m-5">
    <div>
        <h1>Registrar Matricula</h1>
    </div>
    <form #registerForm="ngForm">
        <div class="form-group mt-4">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Matricula</mat-label>
                <input matInput type="date" name="fecha_matricula" [(ngModel)]="matricula.fecha_matricula">
            </mat-form-field>
        </div>
        <div class="form-row ml-1">
            <div class="form-group">
                <p>Seleccionar estudiante</p>
                <mat-selection-list role="listbox" [multiple]="true" [(ngModel)]="selectedStudentOptions"
                    [ngModelOptions]="{standalone: true}">
                    <mat-list-option *ngFor="let usuario of usuarios" role="option" [value]="usuario">
                        {{usuario.nombre}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <p class="m-5"></p>
            <div class="form-group">
                <p>Seleccionar sección</p>
                <mat-selection-list role="listbox" [multiple]="false" [(ngModel)]="selectedSectionOptions"
                    [ngModelOptions]="{standalone: true}">
                    <mat-list-option *ngFor="let seccion of secciones" role="option" [value]="seccion">
                        {{seccion.seccion}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="form-group options">
            <button mat-stroked-button type="submit" class="btn" (click)="onclick()">Guardar <mat-icon>check
                </mat-icon></button>
            <button mat-stroked-button type="button" class="btn cancel" (click)="cancel()">Cancelar <mat-icon>close
                </mat-icon></button>
        </div>
    </form>
</div>