<form novalidate #form="ngForm">
  <div style="border: 1px solid #d1d1d1; border-radius: 5px" class="mb-4">
    <div class="m-1">
      <button class="collapsible">Filtros de Búsqueda</button>
      <div class="content">
        <div class="row">
          <div class="col-md-2 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Docente</mat-label>
              <input matInput type="text" name="fullname" [(ngModel)]="fullname">
            </mat-form-field>
          </div>
          <div class="col-md-2 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Grado</mat-label>
              <input matInput type="text" name="grado" [(ngModel)]="grado">
            </mat-form-field>
          </div>
          <div class="col-md-2 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Sección</mat-label>
              <input matInput type="text" name="seccion" [(ngModel)]="seccion">
            </mat-form-field>
          </div>
          <div class="col-md-2 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nivel</mat-label>
              <mat-select name="nivel" [(ngModel)]="nivel">
                <mat-option value="Primaria">Primaria</mat-option>
                <mat-option value="Secundaria">Secundaria</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Año</mat-label>
              <input matInput type="text" name="anio" [(ngModel)]="anio">
            </mat-form-field>
          </div>
          <div class="col-md-2 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <mat-select name="estado" [(ngModel)]="estado">
                <mat-option value="Activo">Activo</mat-option>
                <mat-option value="Inactivo">Inactivo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row mb-3">
          <div class="buscar">
            <button mat-button type="reset" class="btn btn-light">
              <mat-label>Limpiar Filtros</mat-label>
              <mat-icon matSuffix>delete_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagecontrol">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Docente</th>
        <th scope="col">Curso</th>
        <th scope="col">Grado</th>
        <th scope="col">Sección</th>
        <th scope="col">Nivel</th>
        <th scope="col">Año</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of asignacionesPage | tableFilter: form.value | paginate: { itemsPerPage: 10, currentPage: page }">
        <td>{{item.fullname}}</td>
        <td>Matemática</td>
        <td>{{item.grado}}</td>
        <td>{{item.seccion}}</td>
        <td>{{item.nivel}}</td>
        <td>{{item.anio}}</td>
        <td>{{item.estado}}</td>
      </tr>
    </tbody>
  </table>
</form>