<div *ngIf="DOMready == false" class="spinner-grow loading" role="status"></div>
<div *ngIf="!surveyMode && DOMready" class="main">
    <div class="pt-5">
        <h1 class="title">Sistema de predicción del rendimiento académico</h1>
        <h2 class="subtitle">Bienvenido, {{usuario.nombre}} {{usuario.ape_paterno}} {{usuario.ape_materno}}</h2>

        <hr>
    </div>
    <div class="icons">
        <mat-icon *ngIf="autorizacion == false">error</mat-icon>
        <mat-icon *ngIf="autorizacion == true">check_circle</mat-icon>
    </div>
    <div class="contparrafo">
        <p *ngIf="autorizacion == false" class="parrafo">¡Hola!, para que puedas hacer uso del cuestionario es necesario
            contar
            con el permiso de tu apoderado, para ello debes utilizar la primera opción <b>'Solicitar Autorización'</b>.
            Esto enviará un SMS a su celular. Él deberá ingresar al enlace y aceptar las políticas de privacidad para
            dar su autorización.
            Luego de ello deberás volver a ingresar a esta página para responder el cuestionario. ¡Gracias!
        </p>
        <p *ngIf="autorizacion == true" class="parrafo">¡Hola!, ya cuentas con el permiso de tu apoderado para poder
            responder
            el cuestionario. Por favor, selecciona la opción <b>Responder Cuestionario</b> para que puedas conocer la
            predicción de tu rendimiento en el curso de Matemática.
        </p>
    </div>
    <div class="options">
        <button mat-stroked-button class="btn" [disabled]="autorizacion" (click)="openDialog()">Solicitar Autorización
            <mat-icon>
                mobile_screen_share</mat-icon>
        </button>
        <div style="width: 10px;"></div>
        <button mat-stroked-button class="btn ml-1" (click)="goToSurvey()" [disabled]="!autorizacion">Responder
            Cuestionario <mat-icon>forum</mat-icon></button>
    </div>
    <div class="salir">
        <a class="nav-link active underlineHover" type="button" (click)="salir()">
            <mat-icon>exit_to_app</mat-icon>
        </a>
    </div>
</div>
<div *ngIf="surveyMode">
    <app-preguntas-encuesta [idmatricula]="id_matricula" (finishSurvey)="finishSurvey($event)"
        [encuestaExistente]="encuesta" [info_forecasting]="info_forecasting" [sms]="sms"></app-preguntas-encuesta>
</div>