<div *ngIf="prediccionReady == false" class="spinner-grow loading" role="status"></div>
<div>
    <div class="pt-5">
        <h1 class="title">Cuestionario</h1>
    </div>
    <div class="icons">
        <mat-icon>question_answer</mat-icon>
    </div>
    <div class="contparrafo">
        <p class="parrafo">¡Estás a un paso de obtener la predicción de tu rendimiento académico en Matemáticas!
            Solo debes completar cada pregunta del cuestionario con tu información real y al finalizar
            debes seleccionar el botón <b>Realizar Predicción</b>.
            <br>
            Luego de ello se mostrará el resultado, además de algunas sugerencias que te ayudarán a seguir mejorando.
        </p>
    </div>
    <div class="preguntas border mt-5">
        <div *ngIf="encuestaNueva == false" class="alert">
            <mat-icon matTooltip="Hemos cargado la información de tu última encuesta registrada."
                matTooltipHideDelay="0" [matTooltipPosition]="'right'">error_outline</mat-icon>
        </div>
        <mat-vertical-stepper [linear]="true" class="main" #stepper>
            <mat-step label="¿Cuál es tu edad actual?" [stepControl]="secondFormGroup">
                <form class="mt-3 pregunta" [formGroup]="secondFormGroup">
                    <mat-form-field appearance="outline" [formGroup]="secondFormGroup">
                        <mat-label>-Seleccionar-</mat-label>
                        <mat-select name="edad" required formControlName="secondCtrl"
                            [(ngModel)]="encuestaExistente.edad">
                            <mat-option [value]="11">11</mat-option>
                            <mat-option [value]="12">12</mat-option>
                            <mat-option [value]="13">13</mat-option>
                            <mat-option [value]="14">14</mat-option>
                            <mat-option [value]="15">15</mat-option>
                            <mat-option [value]="16">16</mat-option>
                            <mat-option [value]="'Otros'">Otro</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Quién es tu apoderado?" [stepControl]="thirdFormGroup">
                <form class="mt-3 pregunta" [formGroup]="thirdFormGroup">
                    <mat-form-field appearance="outline" [formGroup]="thirdFormGroup">
                        <mat-label>-Seleccionar-</mat-label>
                        <mat-select name="apoderado" required formControlName="thirdCtrl"
                            [(ngModel)]="encuestaExistente.apoderado">
                            <mat-option class="radio" [value]="'Madre'">Madre</mat-option>
                            <mat-option class="radio" [value]="'Padre'">Padre</mat-option>
                            <mat-option class="radio" [value]="'Madre y Padre'">Madre y Padre</mat-option>
                            <mat-option class="radio" [value]="'Tío(a)'">Tío(a)</mat-option>
                            <mat-option class="radio" [value]="'Hermano(a)'">Hermano(a)</mat-option>
                            <mat-option class="radio" [value]="'Abuelo(a)'">Abuelo(a)</mat-option>
                            <mat-option class="radio" [value]="'Otro'">Otro</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Cuál es el nivel de educación de tu padre?" [stepControl]="fifthFormGroup">
                <form class="mt-3 pregunta" [formGroup]="fifthFormGroup">
                    <mat-form-field appearance="outline" [formGroup]="fifthFormGroup">
                        <mat-label>-Seleccionar-</mat-label>
                        <mat-select name="nivel_edu_padre" required formControlName="fifthCtrl"
                            [(ngModel)]="encuestaExistente.edu_padre">
                            <mat-option class="radio" [value]="'Primaria Completa'">Primaria Completa</mat-option>
                            <mat-option class="radio" [value]="'Primaria Incompleta'">Primaria Incompleta</mat-option>
                            <mat-option class="radio" [value]="'Secundaria Completa'">Secundaria Completa</mat-option>
                            <mat-option class="radio" [value]="'Secundaria Incompleta'">Secundaria Incompleta
                            </mat-option>
                            <mat-option class="radio" [value]="'Superior Técnico Completo'">Superior Técnico Completo
                            </mat-option>
                            <mat-option class="radio" [value]="'Superior Técnico Incompleto'">Superior Técnico
                                Incompleto
                            </mat-option>
                            <mat-option class="radio" [value]="'Superior Universitario Completo'">Superior Universitario
                                Completo
                            </mat-option>
                            <mat-option matTooltip="Superior Universitario Incompleto" matTooltipPosition="right"
                                class="radio" [value]="'Superior Universitario Incompleto'">
                                Superior Universitario Incompleto
                            </mat-option>
                            <mat-option class="radio" [value]="'Ninguno'">Ninguno</mat-option>
                            <mat-option class="radio" [value]="'Desconozco'">Desconozco</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿De qué tamaño es tu familia?" [stepControl]="seventhFormGroup">
                <form class="mt-3 pregunta" [formGroup]="seventhFormGroup">
                    <mat-form-field appearance="outline" [formGroup]="seventhFormGroup">
                        <mat-label>-Seleccionar-</mat-label>
                        <mat-select name="familiares_vive" required formControlName="seventhCtrl"
                            [(ngModel)]="encuestaExistente.tam_familia">
                            <mat-option value="Pequeña">Pequeña</mat-option>
                            <mat-option value="Pequeña">Mediana</mat-option>
                            <mat-option value="Grande">Grande</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Cuántas horas a la semana estudiaste el curso de Matemática?"
                [stepControl]="nineteenthFormGroup">
                <form class="mt-3 pregunta" [formGroup]="nineteenthFormGroup">
                    <mat-form-field appearance="outline" [formGroup]="nineteenthFormGroup">
                        <mat-label>-Seleccionar-</mat-label>
                        <mat-select name="horas_estudio" required checked formControlName="nineteenthCtrl"
                            [(ngModel)]="encuestaExistente.horas_estudio">
                            <mat-option class="radio" [value]="'Menos de 2 horas'">Menos de 2 horas</mat-option>
                            <mat-option class="radio" [value]="'Entre 2 y 5 horas'">Entre 2 y 5 horas</mat-option>
                            <mat-option class="radio" [value]="'Más de 5 horas'">Más de 5 horas</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Cómo calificarías la relación con tu profesor de Matemática?"
                [stepControl]="eigthteenthFormGroup">
                <form class="mt-3 pregunta" [formGroup]="eigthteenthFormGroup">
                    <mat-radio-group matInput required name="relacion_profesor" checked
                        formControlName="eigthteenthCtrl" [(ngModel)]="encuestaExistente.cal_rela_docente">
                        <mat-radio-button class="radio" [value]="1" required>Buena</mat-radio-button>
                        <mat-radio-button class="radio ml-2" [value]="2" required>Regular</mat-radio-button>
                        <mat-radio-button class="radio ml-2" [value]="3" required>Mala</mat-radio-button>
                    </mat-radio-group>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Cómo calificarías los materiales educativos utilizados durante la clase?"
                [stepControl]="twentiethFormGroup">
                <form class="mt-3 pregunta" [formGroup]="twentiethFormGroup">
                    <mat-radio-group matInput required name="materiales_educativos" checked
                        formControlName="twentiethCtrl" [(ngModel)]="encuestaExistente.cal_materiales">
                        <mat-radio-button class="radio" [value]="1" required>Bueno</mat-radio-button>
                        <mat-radio-button class="radio ml-2" [value]="2" required>Regular</mat-radio-button>
                        <mat-radio-button class="radio ml-2" [value]="3" required>Malo</mat-radio-button>
                    </mat-radio-group>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Cómo calificarías tu nivel de interés en el curso de Matemática?"
                [stepControl]="twentyfirstFormGroup">
                <form class="mt-3 pregunta" [formGroup]="twentyfirstFormGroup">
                    <mat-radio-group matInput required name="nivel_interes" checked formControlName="twentyfirstCtrl"
                        [(ngModel)]="encuestaExistente.nivel_interes">
                        <mat-radio-button class="radio" [value]="1" required>Muy Interesado</mat-radio-button>
                        <mat-radio-button class="radio ml-2" [value]="2" required>Medianamente Interesado
                        </mat-radio-button>
                        <mat-radio-button class="radio ml-2" [value]="3" required>Nada Interesado</mat-radio-button>
                    </mat-radio-group>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Cuál fue el motivo que más afectó tu nivel de interés?"
                [stepControl]="twentytwoFormGroup">
                <form class="mt-3 pregunta" [formGroup]="twentytwoFormGroup">
                    <mat-form-field appearance="outline" [formGroup]="twentytwoFormGroup">
                        <mat-label>-Seleccionar-</mat-label>
                        <mat-select name="motivo_interes" required checked formControlName="twentytwoCtrl"
                            [(ngModel)]="encuestaExistente.mot_interes">
                            <mat-option class="radio" [value]="'Por el Profesor'">El Profesor</mat-option>
                            <mat-option class="radio" [value]="'Por el curso'">El Curso</mat-option>
                            <mat-option class="radio" [value]="'Otros'">Otros</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="botones mt-2">
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button class="ml-5" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="¿Contaste con el apoyo de algún familiar para tus actividades académicas
            (tareas, proyectos, recursos, etc.) durante el curso de Matemática?" [stepControl]="twelvethFormGroup">
                <form class="mt-3 pregunta" [formGroup]="twelvethFormGroup">
                    <mat-radio-group matInput required name="apoyo_familiar" checked formControlName="twelvethCtrl"
                        [(ngModel)]="encuestaExistente.apoyo_fam_curso">
                        <mat-radio-button #radio1 class="radio" value="si" required>Sí</mat-radio-button>
                        <mat-radio-button #radio2 class="radio ml-2" value="no" required>No</mat-radio-button>
                    </mat-radio-group>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>

    <div class="form-group buttons pb-5 mt-5">

        <div class="new">
            <button *ngIf="prediccionReady == false" mat-stroked-button type="submit" class="btn accept">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Ejecutando...
            </button>
            <button *ngIf="prediccionReady != false" mat-stroked-button type="submit" [disabled]="!radio1.checked && !radio2.checked" class="btn accept"
                (click)="registrarEncuesta()">Realizar Predicción <mat-icon>offline_bolt</mat-icon>
            </button>
        </div>
        <div class="old">
            <button mat-stroked-button type="button" class="btn cancel" (click)="cancel()">Cancelar <mat-icon>close
                </mat-icon></button>
        </div>
    </div>
</div>