mat-selection-list {
  position: relative;
  margin-top: 2px;
  height: 300px;
  overflow-y: scroll;
  outline: auto;
  outline-color: #d1d1d1;
  outline-width: 1px;
}

.cancel {
  margin-left: 10px;
}

.options {
  margin-top: 20px;
}

h1 {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 700;
}

.select {
  width: 30%;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
