<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">DNI</th>
      <th scope="col">Nivel</th>
      <th scope="col">Grado</th>
      <th scope="col">Sección</th>
      <th scope="col">Año</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usuariosPage; let i=index">
      <td>{{item.nombre}}</td>
      <td>{{item.ape_paterno}}</td>
      <td>{{item.ape_materno}}</td>
      <td>{{item.dni}}</td>
      <td>{{seccionesPage[i].nivel}}</td>
      <td>{{seccionesPage[i].grado}}</td>
      <td>{{seccionesPage[i].seccion}}</td>
      <td>{{seccionesPage[i].anio}}</td>
    </tr>
  </tbody>
</table>