<div *ngIf="DOMready == false" class="spinner-grow loading" role="status"></div>
<div *ngIf="DOMready" class="m-5">
    <div>
        <div *ngIf="!registerMode">
            <h1 class="title">Mantenimiento de Matriculas</h1>
            <div class="row mt-4 mb-4">
                <div div class="col-md-2 form-group">
                    <button mat-stroked-button type="button" class="btn" (click)="registerToggle()">
                        Nuevo Registro <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="col-md-5 form-group">
                    <app-upload-file-matricula (refreshPage)="refreshPageMode($event)"></app-upload-file-matricula>
                </div>
            </div>
        </div>
        <div *ngIf="!registerMode">
            <div>
                <app-matriculas-table [matriculasPage]="matriculas"></app-matriculas-table>
                <div class="msjEmpty" *ngIf="matriculas.length < 1">- No se encontraron resultados -</div>
            </div>
        </div>
        <div *ngIf="registerMode">
            <div>
                <div>
                    <app-registrar-matriculas (cancelRegister)="cancelRegisterMode($event)"></app-registrar-matriculas>
                </div>
            </div>
        </div>
    </div>
</div>