<div *ngIf="(accountService.currentUser$|async) && accountService.usuario.data.rol==='docente'">
  <app-main-nav></app-main-nav>
</div>
<div *ngIf="(accountService.currentUser$|async) && accountService.usuario.data.rol==='estudiante'">
  <app-pre-encuesta [usuario]="accountService.usuario.data" [autorizacion]="autorizacion"></app-pre-encuesta>
</div>
<div class="p2" *ngIf="(accountService.currentUser$|async)=== null">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="title">
        <p>¡Bienvenido!</p>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Usuario"
          [(ngModel)]="model.usuario">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña"
          [(ngModel)]="model.password">
        <div class="error">
          <a *ngIf="status != 200">Los datos ingresados son incorrectos.</a>
        </div>
        <span *ngIf="usuarioReady == false">
          <input type="submit" class="fourth mt-3" value="Login">
        </span>
        <button disabled *ngIf="usuarioReady == true" type="submit" class="fourth btn mt-3">
          <span class="spinner-grow spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>
</div>