.desaprobado {
  color: rgb(212, 67, 67);
  font-weight: bold;
}

.aprobado {
  color: dodgerblue;
  font-weight: bold;
}

pagination-controls {
  text-align: right;
}

.buscar {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.btn{
  border: 1px solid grey;
  border-radius: 5px;
}

.collapsible {
  background-color: Transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}


.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.example-full-width {
  width: 100%;
  background-color: transparent;
}

.form-control{
  background-color: transparent;
}

.msjEmpty {
  font-size: 16px;
  text-align: center;
  background-color: rgba(238, 236, 236, 0.904);
}