<div class="child">
    <div class="mt-3">
        <h1>Dashboard: Historial de Notas y Predicciones</h1>
        <h2> - por Sección - </h2>
    </div>
    <div class="buttons mt-5">
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Año</mat-label>
                <mat-select name="anio" multiple [(ngModel)]="selectedAnios" (selectionChange)="change()">
                    <mat-option *ngFor="let anio of newanios" [value]="anio">{{anio}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="width: 2%;"></div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Sección</mat-label>
                <mat-select [disabled]="selectedAnios.length < 1" name="seccion" [(ngModel)]="selectedSeccion" (selectionChange)="change2()">
                    <mat-option *ngFor="let seccion of newsecciones" [value]="seccion">{{seccion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="graphs">
        <div class="form-group chart">
            <canvas class="canvas" id="canvas"></canvas>
        </div>
        <div class="form-group chart">
            <canvas class="canvas" id="canvas2"></canvas>
        </div>
    </div>
</div>