  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/usuarios" >Usuarios</a>
        <a mat-list-item routerLink="/estudiantes">Estudiantes</a>
        <a mat-list-item routerLink="/secciones">Secciones</a>
        <a mat-list-item routerLink="/matriculas">Matricula</a>
        <a mat-list-item routerLink="/calificaciones">Calificaciones</a>
        <a mat-list-item routerLink="/predicciones">Predicciones</a>
        <a mat-list-item routerLink="/asesorias">Asesorias</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>