<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">DNI</th>
        <th scope="col">Usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosPage">
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.ape_paterno}}</td>
        <td>{{usuario.ape_materno}}</td>
        <td>{{usuario.dni}}</td>
        <td>{{usuario.usuario}}</td>
        <td>{{usuario.rol}}</td>
        <td>{{usuario.email}}</td>
      </tr>
    </tbody>
  </table>