<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">DNI</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantesPage">
        <td>{{estudiante.nombre}}</td>
        <td>{{estudiante.ape_paterno}}</td>
        <td>{{estudiante.ape_materno}}</td>
        <td>{{estudiante.dni}}</td>
        <td>{{estudiante.email}}</td>
      </tr>
    </tbody>
  </table>